body {
    color: #e76f66;
    text-align:left;
    background-color: #000c74;
    font-family: Arial; 
    font-size: 16px;
}

#container {
    width: 70%;
    padding: lem;
    text-align:left;
    border: 1px  #29fee3;
}

#container h1 {
    font-size: 20px;
}

#headder {
    background: black;
    color: #ffffff;
    padding: 0.5em;
    margin: 0;
    font-weight: bold;
    box-shadow: 0px 5px 50px 0px #00ff00;
}

#headder #tagline{
    font-weight: normal;
    font-size: 0.8em;
    margin: 0 0 0 1em;
}