body {
    color: #9366e7;
    text-align:left;
    background-color: #000c74;
    font-family: 'Times New Roman'; 
    font-size: 16px;
}

#container {
    width: 70%;
    padding: lem;
    text-align:left;
    border: 1px  #29fee3;
}

#container h1 {
    font-size: 20px;
}